/*Añadimos nuestra fuente de goglee fonts :3 */

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@418&family=Fira+Code&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*Primero Vamos a resetear losa estilos bases que nos proporciona el navegador*/

:root {
    /* Variables "Fonts-families" */
    --Dancing-Script: "Dancing Script";
    --Font-family-content: "Roboto";
    /* Colores que voy a utilizar a lo largo de todo mi portafolio */
    /* Color de background principal */
    --body-color: #FFF2DB;

    --dark: #000000;
    --dark-red: #9d0707;
    --dark-green: #0B6623;
    --dark-olive-green: #3E6B52;
    --dark-yellow: #c67d0a;
    --dark-blue: #0f4c81;
    --dark-pink: #C11C84;
    --dark-purple: #5c2a75;
    --dark-orange: #D35400;
    /*RGBA: (211, 84, 0, 0.25)  (Para sombras) */
    --dark-esmerald: #326857;
    --dark-coral: #E11D48;
    --dark-plum: #8B5CF6;
    --dark-pistachio: #65A30D;
    --dark-ochre: #B45309;
    --dark-brown: #451a03;
    /* Colores de distintos programas o lenguajes */

    --language-js-color: #e8d44d;
    --language-css-color: #29a9df;
    --language-html-color: #e96228;

    /* Colores de distintas plataformas en linea */
    --platform--email-google-color: #ea4335;
    --platform--github--color: #062738;
    --platform--platzi--color: #09e989;
    /* Separadom de los textos */

    /*Diferentes tipos de medidas para diferentes dispositivos*/
    --media-queries-laptops-table: 850px;
}

@keyframes small--leap {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Agregamos una segunda fuente para que pueda cargar en cualquier navegador */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--Dancing-Script);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
    margin-top: 48px;
}

h3 {
    font-size: 28px;
    margin-top: 48px;
}

h4 {
    font-size: 25px;
    margin-top: 21px;
}

p {
    margin-bottom: 16px;
    line-height: 1.3;
    /* !--- LINE-HEIGHT ----! PROPIEDAD IMPORTANTE */
    font-family: var(--Font-family-content);
    /* Esta propiedad nos ayuda a elegir un espacio entre cada linea de nuestras fuentes de esta formando     evitando el cansancio visual del usuario  :3*/
}

span {
    font-family: var(--Font-family-content);
}

strong {
    font-weight: bold;
}

/*Enlaces*/

a {
    font-family: var(--Font-family-content);
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

/*Listas*/

ul {
    list-style: none;
}

li {
    font-family: "Roboto";
}

.header {
    border-bottom: 16px;
    padding: 24px;
    margin-bottom: 24px;
    /*Por si acaso aca podriamos poner un border :) */
}

.header__container {
    display: grid;
    grid-template-areas:
        "brand"
        "nav";
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__brand {
    grid-area: brand;
    text-align: center;
    margin-bottom: 15px;
}

.header__name {
    margin-bottom: 8px;

}

.header__tagline {
    font-size: 20px;
}

.nav {
    grid-area: nav;
    text-align: center;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}


.nav__item {
    display: inline-block;
    margin: 0;
}

.nav__link {
    display: inline-block;
    font-family: var(--Font-family-content);
    font-size: 14px;
    font-weight: 600;
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
    padding: 8px 18px;
    border-radius: 9px;
    font-weight: 600;
    /*----! Transición suva para todos los botones :3 !---- de 3 segundos con efecto hover*/
    transition: transform 0.2s ease;
}

.nav__link--active {
    background-color: var(--dark-red);
    color: #FFFFFF;
    border-color: var(--dark-red);
}

/*.nav__link--start {
    color: var(--dark-red);
    border: 2px solid var(--dark-red);
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}*/

.nav__link--about__me {
    color: var(--dark-olive-green);
    border: 2px solid var(--dark-olive-green);
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.nav__link--projects {
    color: var(--dark-yellow);
    border: 2px solid var(--dark-yellow);
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.nav__link--skills {
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.nav__link--contact {
    color: var(--dark-orange);
    border: 2px solid var(--dark-orange);
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}


/* !--- HOVER ! DE  NAV--- */

.nav__link:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(157, 7, 7, 0.25);
}

/* ----! Vamos a utilizar este link de "start" cuando agreguemos javascript a la pagina !-----*/

/*.nav__link--start:hover {
    color: var(--dark-red);
    background-color: var(--dark-red);
    border: 2px solid var(--dark-red);
}*/

.nav__link--about__me:hover {
    color: #FFFFFF;
    background-color: var(--dark-olive-green);
    border-color: var(--dark-olive-green);
}

.nav__link--projects:hover {
    background-color: var(--dark-yellow);
    color: #FFFFFF;
    border-color: var(--dark-yellow);
}

.nav__link--skills:hover {
    background-color: var(--dark-blue);
    color: #FFFFFF;
    border-color: var(--dark-blue);
}

.nav__link--contact:hover {
    background-color: var(--dark-orange);
    color: #FFFFFF;
    border-color: var(--dark-orange);
}


/* ----! Contenido PRINCIPAL !---- */

.main {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Nuestra sección Hero ¡Vamos a estilizarla! */

.hero {
    text-align: center;
    color: var(--dark);
    border-radius: 16px;
    box-shadow: 0px 12px 15px rgba(157, 7, 7, 0.25);
    padding: 40px 24px;
    margin-bottom: 30px;
    background: var(--body-color);
    border: 3px solid var(--dark-red);
    max-width: 1070px;
    margin: 0 auto;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 800px;
}


.hero__title {
    grid-area: hero--title;
    margin-bottom: 18px;
    font-size: 50px;
}

.hero__subtitle {
    grid-area: hero--subtitle;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 22px;
}

.hero__title,
.hero__subtitle {
    text-align: center;
}

.hero__description {
    grid-area: hero--description;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 600px;
}

.hero__actions {
    grid-area: hero--actions;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    margin: 8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    background-color: var(--dark-red);
    color: #FFFFFF;
    box-shadow: ;
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}


.hero:hover {
    background-color: var(--dark-red);
    transform: translateY(-7px);
    color: #FFFFFF;
}


.hero:hover .button {
    animation: small--leap 0.7s ease;
    background-color: #FFFFFF;
    color: var(--dark-red);
}

.button:hover {
    transform: translateY(-5px)
}



.hero__stats {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 16px;
    flex-wrap: wrap;
}

.stat {}

.stat__number {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 17px;
}

.stat__label {
    font-size: 17px;
}

.about {
    padding: 30px 0;
}

.about__container {
    max-width: 800px;
    margin: 0 auto;
}

.about__title {
    text-align: center;
    margin: 40px;
    font-size: 36px;
}

.about__intro {
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
}

.about__text {
    text-align: center;
    margin-bottom: 32px;
    font-size: 18px;
}

.quote {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 24px 28px;
    border: 1px solid rgba(11, 102, 35, 0.25);
    border-left: 6px solid var(--dark-green);
    margin: 32px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.quote p,
.quote cite,
.quote strong {
    transition: color 0.2s ease;
}

.quote:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    border-left-color: var(#FFFFFF);
    transform: translateY(-4px);
    color: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(11, 102, 35, 0.25);
}


.quote:hover p,
.quote:hover cite,
.quote:hover strong {
    color: #FFFFFF;
}




.quote__text {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
}

.quote__author {
    display: block;
    text-align: end;
    font-size: 14px;
}

.values {
    margin-top: 52px;
}

.values__title {
    text-align: center;
    margin-bottom: 36px;
}

.values__list {
    padding: 0;
}

.values__item {
    padding: 18px;
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
    margin-bottom: 16px;
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.values__item__title {
    font-size: 20px;
    text-align: center;
}

.values__item__description {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.values__item:hover {
    transform: translateY(-3px);

    color: #FFFFFF;
}

.value__item__firtsYellow {
    border: 2px solid var(--dark-yellow);
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.value__item__secondBlue {
    border: 2px solid var(--dark-blue);
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.value__item__thirdPink {
    border: 2px solid var(--dark-pink);
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

.value__item__fourthPurple {
    border: 2px solid var(--dark-purple);
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}


.value__item__firtsYellow:hover {
    background-color: var(--dark-yellow);
    border-color: var(--dark-yellow);
    box-shadow: 0px 6px 16px rgba(198, 125, 10, 0.25);
}

.value__item__secondBlue:hover {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    box-shadow: 0px 6px 16px rgba(15, 76, 129, 0.25);
}

.value__item__thirdPink:hover {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
    box-shadow: 0px 6px 16px rgba(193, 28, 132, 0.25);
}

.value__item__fourthPurple:hover {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
    box-shadow: 0px 6px 16px rgba(92, 42, 117, 0.25);
}

.projects {
    padding: 21px 0;
}

.project__container {
    margin: 0 auto;
    max-width: 800px;
}

.projects__title {
    text-align: center;
    font-size: 40px;
    margin: 30px
}

.projects__description {
    text-align: center;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

.project {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 32px;
    background: #FFFFFF;
    margin-bottom: 32px;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    background: var(--body-color);
}

.first__project__yellow {
    border: 2px solid var(--dark-yellow);
}


.project--featured {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "badge"
        "title"
        "description"
        "learnings"
        "tags"
        "links";
    gap: 20px;
}



.project--featured .project__badge {
    grid-area: badge;
    justify-self: start;
    /*Evita que el badge se estire*/
}

.project--featured .project__title {
    grid-area: title;
}


.project--featured .project__description {
    grid-area: description;
}


.project--featured .project__learnings {
    grid-area: learnings;
}

.project--featured .project__technologies {
    grid-area: tags;
}

.project--featured .project__links {
    grid-area: links;
}



.second__project__green {
    border: 2px solid var(--dark-green);
}



.third__project__black {
    border: 2px solid var(--dark);
}

.project:hover {
    transform: translateY(-5px);
    color: #FFFFFF;
}

.project:hover a {
    color: #FFFFFF;
}

.first__project__yellow:hover {
    background-color: var(--dark-yellow);
    border: 2px solid var(--dark-yellow);
}

.second__project__green:hover {
    background-color: var(--dark-green);
    border: 2px solid var(--dark-green);
}


.third__project__black:hover {
    border: 2px solid var(--dark);
    background-color: var(--dark);
}


.project__title {
    margin-bottom: 30px;
}

.project__description {
    font-size: large;
}

.project_subtitle {
    font-size: 19px;
    margin-bottom: 10px;
}

.project__learnings {
    list-style: disc;
    margin-left: 15px;
    margin-top: 11px;
    margin-bottom: 15px;
}

.project__learnings li {
    margin-bottom: 16px;
    font-size: 17px;
}

.project__technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 18px;
    margin-bottom: 30px;
}

.tag {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 20px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin-right: 15px;
    transition: 0.2s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px;
}

.tag:hover {
    transform: translateY(-3px);
}

/* ---! Diferentes estilos para cada "tag" de cada contenedor de proyecto */

.first__project__yellow .tag {
    background: rgba(198, 125, 10, 0.12);
    color: var(--dark-yellow);
    border: 1px solid rgba(198, 125, 10, 0.12);
}

.first__project__yellow:hover .tag {
    background: #FFFFFF;
    color: var(--dark-yellow);
    border-color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.second__project__green .tag {
    background: rgba(34, 139, 34, 0.12);
    color: var(--dark-green);
    border: 1px solid rgba(34, 139, 34, 0.12);

}


.second__project__green:hover .tag {
    background: #FFFFFF;
    color: var(--dark-green);
    border-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.third__project__black .tag {
    background: rgba(26, 26, 36, 0.8);
    color: var(--dark);
    border: 1px solid rgba(26, 26, 36, 0.2);
}

.third__project__black:hover .tag {
    background: #FFFFFF;
    color: var(--dark);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.project__links {
    margin-top: auto;
    text-align: left;
}

.project__link {
    display: inline-block;
    margin-right: 15px;
    font-size: 17px;
    transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.project__link:hover {
    transform: scale(1.05);
}

.project__badge {
    display: inline-block;
    font-family: var(--Dancing-Script);
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding: 4px 16px;
    color: #ffffff;
    background-color: var(--dark-green);
}



.second__project__green:hover .project__badge {
    background: #FFFFFF;
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    color: var(--dark-green);
}

/*Seguimos con la sección de mis habilidades :3 */

.skills {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 32px 24px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skills__container {
    max-width: 800px;
    margin: 0 auto;
}

.skills__title {
    font-size: 40px;
    text-align: center;

}

.skills__subtitle {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 48px;
    /* Probablemente agregar un color */
}

.skills__list {
    margin-bottom: 48px;
}

.skill {
    margin-bottom: 28px;
    padding: 16px;
    border-radius: 12px;
    background-color: #FAFAFA;
    border: 2px solid #EFEFEF;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.skill--html {
    transition: border 0.2s ease;
}

.skill--css {
    transition: border 0.2s ease;
}

.skill--js {
    transition: border 0.2s ease;
}

.skill__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}


.skill__name {
    color: #666666;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.skill__percentage {
    color: #666666;
    font-size: 16px;
    font-weight: 600;

}


.skill__content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.skill__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.skill__bar {
    flex: 1;
    border-radius: 10px;
    background: #e0e0e0;
    height: 24px;
    margin-bottom: 13px;
    position: relative;
    overflow: hidden;
}

.skill__progress {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.4s ease, background-color 0.2s ease;
}

.skill__progress--html {
    width: 35%;
    transition: background-color 0.2s ease, border 0.2s ease;

}

.skill__progress--css {
    width: 10%;
    transition: background-color 0.2s ease;
}

.skill__progress--js {
    width: 25%;
    transition: background-color 0.2s ease;
}

/* !---- SKILL-HOVER !--- */

.skills:hover {
    transform: translateY(-4px);
}

.skill:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
}

.skill--html:hover {
    border-color: var(--language-html-color);
}

.skill--css:hover {
    border-color: var(--language-css-color);
}

.skill--js:hover {
    border-color: var(--language-js-color);
}

.skills:hover .skill__progress--html {
    background-color: var(--language-html-color);
}

.skills:hover .skill__progress--css {
    background-color: var(--language-css-color);
}

.skills:hover .skill__progress--js {
    background: var(--language-js-color);
}

/*  !---  Ahora sigue la sección de "learning" !----*/

.learning__container {
    background-color: #FFFFFF;
    color: var(--dark);
    border: 2px solid var(--dark-brown);
    border-radius: 20px;
    max-width: 1100px;
    padding: 20px 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 18%);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.learning__title {
    text-align: center;
    margin: 24px;
    font-size: 36px;
}

.learning__description {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin: 21px;
}

.learning__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 21px;
}

.learning__item {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 21px;
    margin-right: 15px;
    letter-spacing: 0.7px;
    transition: transforms 0.2s ease;
}





.learning__item--first {
    border: 2px solid var(--dark-plum);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.learning__item--second {
    border: 2px solid var(--dark-esmerald);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.learning__item--third {
    border: 2px solid var(--dark-pistachio);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.learning__item--fourth {
    border: 2px solid var(--dark-coral);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.learning__item--fifth {
    border: 2px solid var(--dark-olive-green);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}



.learning__container:hover {
    transform: translateY(-5px);
    background-color: #451a03;
    color: #FFFFFF;
}

.learning__container:hover .learning__item--first {
    background-color: var(--dark-plum);
}

.learning__container:hover .learning__item--second {
    background-color: var(--dark-esmerald);
}

.learning__container:hover .learning__item--third {
    background-color: var(--dark-pistachio)
}

.learning__container:hover .learning__item--fourth {
    background-color: var(--dark-coral);
}

.learning__container:hover .learning__item--fifth {
    background-color: var(--dark-olive-green);
}

.learning__item:hover {
    transform: translateY(-5px);
}



/* Seguimos con la sección de contacto

    Esta sección vamos a comenzar a agregar "media-queries para los usuarios de pantallas mas grandes". Vamos a diseñar este contenedor para un celular y luego con los "@media-queries" vamos a determinar que va a suceder cuando obtenga el ancho de la pantalla de una laptop.

*/
.contact {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    background: linear-gradient(135deg, #e8d44d 16%, #9d0707 86%);
    border: 6px solid #FFFFFF;
    color: #FFFFFF;
    margin: 30px auto;
    border-radius: 25px;
    padding: 20;
}



.contact__container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 35px;
}

.contact__description {
    text-align: center;
    font-size: 20px;
}

.contact__method:nth-child(1) {
    grid-area: "email";
}

.contact__method:nth-child(2) {
    grid-area: "github";
}

.contact__method:nth-child(3) {
    grid-area: "platzi";
}


.contact__methods {
    display: grid;
    gap: 20px;
    width: 100%;

    grid-template-areas:
        "email"
        "github"
        "platzi";
}





.contact__method {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.contact__method-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}

.contact__link {
    display: inline-block;
    background: #FFFFFF;
    border: 2px solid black;
    border-radius: 6px;
    padding: 15px 8px;
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.link__email__account {
    border: 2px solid var(--platform--email-google-color);
    transition: background-color 0.2s ease, transform 0.2s ease;
}


.link__github__account {
    border: 2px solid var(--platform--github--color);
    transition: background-color 0.2s ease, transform 0.2s ease;
}


.link__platzi__account {
    border: 2px solid var(--platform--platzi--color);
    transition: background-color 0.2s ease, transform 0.2s ease;
}



.link__email__account:hover {
    background-color: var(--platform--email-google-color);
    color: #FFFFFF;
}


.link__github__account:hover {
    background-color: var(--platform--github--color);
    color: #FFFFFF;
}


.link__platzi__account:hover {
    background-color: var(--platform--platzi--color);
    color: #FFFFFF;
}


.footer {
    text-align: center;
    padding: 24px 0;
    margin-top: 20px;
    color: var(--dark);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.footer__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-areas:
        "footer--nav"
        "footer--copyright"
        "footer--credits";
        gap: 16px;
        justify-items: center;
        align-items: center;
    }



.footer__nav {
    grid-area: footer--nav;
  
}


.footer__link {
    display: inline-block;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding: 6px 14px;
    margin: 4px 8px;
    font-size: 16px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.footer__link--start {
    color: var(--dark-pink);
    transition: transform 0.2s ease;
}

.footer__link--about__me {
    color: var(--dark-red);
    transition: transform 0.2s ease;
}

.footer__link--projects {
    color: var(--dark-yellow);
    transition: transform 0.2s ease;
}

.footer__link--skills {
    color: var(--dark-esmerald);
    transition: transform 0.2s ease;
}

.footer__link--contact {
    color: var(--dark-plum);
    transition: transform 0.2s ease;
}

.footer__copyright {
    grid-area: footer--copyright;
    font-size: 15px;
}

.footer__credits {
    grid-area: footer--credits;
    font-size: 15px;
}


/*Sección de hover de nuestra sección de footer :3 */
.footer:hover {
    background-color: var(--dark-blue);
    color: #FFFFFF;
}

footer:hover .footer__link {
    background-color: #FFFFFF;
    animation: small--leap 0.7s ease;
}

/*.footer__link {}  !---- Utilizar esta propiedad en el futuro !---- */

.footer:hover .footer__link--start {
    border: 2px solid var(--dark-pink);
}

.footer:hover .footer__link--about__me {
    border: 2px solid var(--dark-red);
}

.footer:hover .footer__link--projects {
    border: 2px solid var(--dark-yellow);

}

.footer:hover .footer__link--skills {
    border: 2px solid var(--dark-esmerald);

}

.footer:hover .footer__link--contact {
    border: 2px solid var(--dark-plum);
}

.footer__link--start:hover {
    transform: translateY(-5px);
}

.footer__link--about__me:hover {
    transform: translateY(-5px);
}

.footer__link--projects:hover {
    transform: translateY(-5px);
}

.footer__link--skills:hover {
    transform: translateY(-5px);
}

.footer__link--contact:hover {
    transform: translateY(-5px);
}


/*!---- Sección de media-queries !---- */

@media (min-width: 768px) {
    .header__container {
        grid-template-columns: 1.4fr 1.6fr;
        grid-template-areas:
            "brand nav";
    }

    .header__brand {
        text-align: left;
    }

    .nav__list {
        justify-content: flex-end;
    }

    .hero__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*Van a ser 2 columnas de igual tamaño :3*/
        grid-template-areas:
            "hero--title hero--title"
            "hero--subtitle hero--subtitle"
            "hero--description hero--stats"
            "hero--actions hero--stats";
        gap: 20px 30px;
        align-items: center;

    }

    .contact {
        padding: 30px 70px;
        border-width: 10px;
    }

    .contact__methods {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "email" "github" "platzi";
    }

    .footer__container {
        grid-template-columns: 1.8fr 1fr;
        grid-template-areas: 
        "footer--nav footer--copyright"
        "footer--nav footer--credits";
        gap: 10px 24px;
        align-items: center;
    }

    .footer__nav {
        justify-self: start;
        text-align: left;
    }

    
    .footer__copyright, .footer__credits {
        justify-self: end;
        text-align: right;
    }
}